body {
    background: #eee;
}

body, td, div, input {
    font-family: Verdana;
    color:       #000;
    font-size:   10pt;
}

.monospace {
    font-family: monospace, Courier New;
}

a:link, a:visited, a:active {
    color:           #f60;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

#content_wrapper {
    text-align: center;
    width:      100%;
}

h2, h3, h4 {
    margin-top: 0;
}

#content {
    width:         640px;
    margin:        0px auto;
    text-align:    left;
    border:        1px solid #999;
    border-radius: 8px;
    background:    #fff;
    padding:       12px;
}

p {
    margin-top: 0;
}

.box_wrapper {
    width:      100%;
    text-align: center;
}

.box {
    text-align:    left;
    width:         96%;
    background:    #eee;
    padding:       8px;
    border:        1px solid #666;
    border-radius: 4px;
    margin:        0 auto;
}